.Cart-wp{
  padding-top: 200px;
}

.Cart-itembox{

}

.Cart-table{
  margin: auto;
  width: 70%;
}

.Cart-table-head{
  height: 50px;
}

.Cart-itemdiv img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Cart-itemdiv-modifynum{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.Cart-itemdiv-modifynum button{
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: auto;
  width: 20px;
}

.Cart-itemdiv-modifynum p {
  margin: 5px;
}