.Main-wp{
  margin: 0;
  padding: 0;
  padding-top: 0px;
  background-color: lemonchiffon;
  width: 100vw;
  height: 100%;
  /* height: calc(40vh - 100px); */
}

.Main-wp h1{
  margin: 0;
  z-index: 998;
}

.Main-itembox{
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Main-itemdiv{
  width: 280px;
  height: 350px;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-itemdiv > img{
  width: 70%;
  height: 100%;
  object-fit: cover;
}