.DetailRecentBox-wp{
  position: fixed;
  top: 23%;
  right: 5%;
  width: 180px;
  height: fit-content;
  max-height: 650px;
  border: 1px solid gray;
  background-color: white;
  padding: 10px;
}

.DetailRecentBox-div img{
  width: 80px;

}